<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
            @import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap');
            </style> 
    <link rel="stylesheet" href="./styles/style.css">
    <title>Document</title>
</head>

<body>
    <header>
            <h1>W1 Music</h1>
        <nav>
            <ul>
                <li><a href="index.php">Home</a></li>
                <li><a href="index.php?page=songs">Songs</a></li>
                <li><a href="index.php?page=artists">Artists</a></li>

            </ul>
        </nav>
        
    </header>
    <main>